<div class="relative z-10 flex-shrink-0 flex h-16 bg-white border-b border-gray-200 lg:border-none shadow-lg">
  <button type="button" class="px-4 border-r border-gray-200 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-cyan-500 lg:hidden" (click)="offsetMenu = !offsetMenu; onMenu(offsetMenu)">
    <span class="sr-only">Open sidebar</span>

    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
    </svg>
  </button>

  <div class="flex-1 px-4 flex justify-between sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
    <div class="flex-1 flex">
      <form class="w-full flex md:ml-0" action="#" method="GET">
        <label for="search-field" class="sr-only">Search</label>

        <div class="relative w-full text-gray-400 focus-within:text-gray-600">
          <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none" aria-hidden="true">

            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
          </div>

          <input id="search-field" name="search-field" class="block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-0 focus:border-transparent sm:text-sm" [(ngModel)]="enteredSearchValue" placeholder="Enter your breed" (ngModelChange)="onSearchChange()" (blur)="outSearch()" type="search">

          <div *ngIf="showResults">
            <ul *ngIf="showSuggested" class="bg-white text-gray-700 border mt-[-10px] rounded-lg shadow-lg absolute py-2" style="min-width: 15rem;">
              <li *ngFor="let cat of suggestedCats">
                <a href="/cats/{{cat.id}}" (click)="closeSearch()" class="block hover:bg-gray-100 whitespace-no-wrap py-2 px-4">
                  {{cat.name}}
                </a>
              </li>
            </ul>

            <ul *ngIf="!showSuggested" class="bg-white text-gray-700 border mt-[-10px] rounded-lg shadow-lg absolute py-2" style="min-width: 15rem;">
              <li class="block bg-gray-100  whitespace-no-wrap py-2 px-4">
                No Results found!
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <div class="ml-4 flex items-center md:ml-6">
      <!-- ... -->
    </div>
  </div>
</div>
