<h1 class="text-4xl mb-2 font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
  <span class="block xl:inline">The Most </span>
  <span data-primary="indigo-600" class="block text-cyan-600 xl:inline">Searched</span>
</h1>

<p class="text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">Check out the Top 10 Most Searched Breeds.</p>

<div class="max-w-6xl mx-auto xl:max-w-7xl">
  <app-loader *ngIf="showLoader" class="mt-"></app-loader>

  <div *ngIf="!showLoader">
    <div class="pt-16 lg:py-16" *ngFor="let cat of cats; let i = index">
      <div class="pb-16 bg-gray-100 lg:pb-0 lg:z-10 rounded-lg lg:relative">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
          <div class="relative lg:-my-8">

            <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
              <div class="aspect-w-10 aspect-h-6 rounded-xl shadow-xl overflow-hidden sm:aspect-w-16 sm:aspect-h-7 lg:aspect-none lg:h-full">
                <a [routerLink]="['/cats', cat.id]">
                  <img class="object-cover lg:h-full lg:w-full" src="{{cat.image.url}}" loading="lazy">
                </a>
              </div>
            </div>
          </div>
          <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
            <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-8 lg:max-w-none">
              <h2 class="text-4xl font-bold text-cyan-700">
                <a [routerLink]="['/cats', cat.id]" class="hover:underline">{{i + 1}}. {{cat.name}}</a>
              </h2>

              <p class="mt-6 text-lg text-gray-500">{{cat.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

