<div class="overflow-hidden">
  <div class="relative max-w-7xl mx-auto">
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
      <h1 class="text-4xl mb-2 font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
        <span class="block xl:inline text-cyan-600">{{cat.name}}</span>
      </h1>
    </div>

    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-2">
        <svg class="hidden lg:block absolute top-0 right-0 -mt-20 -mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
        </svg>
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg shadow-lg object-cover object-center" src="{{image}}" alt="{{cat.name}}">
            </div>
          </figure>
        </div>
      </div>

      <div class="mt-8 lg:mt-0">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <p class="text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">
            {{cat.description}}
          </p>
        </div>

        <div class="mt-5 prose prose-indigo text-gray-500 mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
          <p class="text-xl"><b>Temperament: </b>{{cat.temperament}}</p>
          <p class="text-xl"><b>Origin: </b>{{cat.origin}}</p>
          <p class="text-xl"><b>Life Span: </b>{{cat.life_span}}</p>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Adaptability: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.adaptability)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Affection level: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.affection_level)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Child Friendly: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.child_friendly)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Grooming: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.grooming)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Intelligence: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.intelligence)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Health issues: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.health_issues)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Social needs: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.social_needs)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>

          <div class="flex mb-4">
            <div class="w-1/2">
              <p class="text-xl my-0 pr-8"><b>Stranger friendly: </b></p>
            </div>

            <div class="w-1/2 flex">
              <div class="inline-block" *ngFor="let rate of rates">
                <svg aria-hidden="true" [ngClass]="{'text-yellow-400': (rate <= cat.stranger_friendly)}" class="w-8 h-8 ml-1 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>First star</title><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mx-auto mt-16">
      <h2 class="text-4xl mb-8 font-extrabold tracking-tight text-gray-900">
        <span class="block xl:inline text-cyan-600">Outras Imagens</span>
      </h2>

      <swiper
        [pagination]="{
          type: 'fraction'
        }"
        [navigation]="true"
        class="mySwiper"
      >
        <ng-template *ngFor="let image of catimages" swiperSlide>
          <img alt="{{image.id}}" class="block object-cover object-center w-full max-h-96 rounded-lg" src="{{image.url}}">
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
