<h1 class="text-4xl mb-2 font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
  <span class="block xl:inline">Breed </span>
  <span data-primary="indigo-600" class="block text-cyan-600 xl:inline">List</span>
</h1>

<p class="text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">Check out all the cat breeds available on the API.</p>

<section class="py-12 mt-12 bg-gray-100 rounded-2xl shadow-lg">
  <div class="max-w-6xl px-10 mx-auto xl:max-w-7xl">
    <app-latest-cats [limit]="30"></app-latest-cats>
  </div>
</section>
